$MySize: 45px;
$MyColor: #dc3545;

@media screen and (min-width: 768px) {
  nav a p:hover {
    color: $MyColor;
  }
}

.headpage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
    @extend .headpage
}

#Technician-Icon:hover {
    color: $MyColor;
}